/* body{
    background-color: rgb(169, 87, 102);
} */

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #2e13ca;
    font-size: 2rem;
}
.navbar .navbar-nav .nav-link {
  color: #020000 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color :#222222;

}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,.f-info-social,.f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i{
    font-size: 1.3rem;
    margin-right: 1.1rem;
}
.f-info{
    text-align: center;
    height:8rem ;
    background-color: #ebebeb;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: space-evenly;
    
}
